.title-card
  background: #505060

/* ---------------------------------------------------------------------------
 * Reminders
 */

.reminders
  margin: 0 auto

  background: white
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
  width: 250px
  border-radius: 3px

  h3
    background: orange
    color: white
    font-weight: bold
    padding: 5px 20px
    border-top-left-radius: 3px
    border-top-right-radius: 3px

  .list
    height: 210px
    overflow-y: auto

/* ---------------------------------------------------------------------------
 * Item
 */

.reminder-item
  padding: 7px 20px
  border-bottom: solid 1px #eee

  &.done
    color: #a0a0b0

  .checkbox
    margin: 0
    padding: 0
    cursor: pointer

    display: inline-block
    vertical-align: middle
    text-align: center

    width: 12px
    height: 12px
    background: #f3f3f3
    border: solid 1px #ddd
    border-radius: 2px
    margin-right: 8px

  &.done .checkbox:before
    content: 'x'

/* Add new box item */
.add-new-box
  padding: 7px 20px

